#spring:
#  jpa:
#    show-sql: true
#    properties:
#      hibernate:
#        format_sql: true
#    defer-datasource-initialization: true

#  datasource:
#    url: jdbc:h2:mem:testdb
#    driver-class-name: org.h2.Driver
#    username: sa
#    password:

#  h2:
#    console:
#      enabled: true
#      path: /h2-console   # 브라우저 접속: http://localhost:8080/h2-console

spring:
  config:
    import: optional:file:.env[.properties]
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true

  datasource:
    url: ${MYSQL_URL}
    username: ${MYSQL_USER}
    password: ${MYSQL_PASSWORD}
    driver-class-name: com.mysql.cj.jdbc.Driver

  servlet:
    multipart:
      enabled: true
      max-file-size: 10MB
      max-request-size: 10MB

file:
  upload-dir: C:/uploads

app:
  jwt:
    secret: ${JWT_SECRET}
    issuer: "smartstore"
    access-token-ttl-minutes: 120

bootpay:
  app-id: ${BOOTPAY_APP_ID}
  rest-key: ${BOOTPAY_REST_KEY}
  private-key: ${BOOTPAY_PRIVATE_KEY}