server:
  port: 5000

spring:
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true

  datasource:
    url: ${SPRING_DATASOURCE_URL}
    username: ${SPRING_DATASOURCE_USERNAME}
    password: ${SPRING_DATASOURCE_PASSWORD}
    driver-class-name: com.mysql.cj.jdbc.Driver

  servlet:
    multipart:
      enabled: true
      max-file-size: 10MB
      max-request-size: 10MB

file:
  upload-dir: C:/uploads

app:
  jwt:
    secret: ${JWT_SECRET}
    issuer: "smartstore"
    access-token-ttl-minutes: 120

bootpay:
  app-id: ${BOOTPAY_APP_ID}
  rest-key: ${BOOTPAY_REST_KEY}
  private-key: ${BOOTPAY_PRIVATE_KEY}